.videos-contenedor {
    margin: 40px 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.video {
    /* padding: 15px; */
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.312);
}

.video p {
    font-size: 20px;
    margin: 10px;
    font-weight: 500;
    padding: 7px 0;
}

iframe {
    border-radius: 15px 15px 0 0;
}
